<p-card class="movie-card" [style]="{ width: '14rem' }">
  <div class="card-image" [routerLink]="['/TvDetails', movie().id]">
    <img
      [src]="'https://image.tmdb.org/t/p/w500/' + movie().poster_path"
      [alt]="movie().title"
      class="poster"
    />
    <div class="rating-badge">
      <svg class="progress-ring" width="44" height="44">
        <circle
          class="progress-ring__circle"
          [attr.stroke]="getRatingColor(votePercent())"
          stroke-width="4"
          fill="transparent"
          [attr.r]="radius"
          cx="22"
          cy="22"
          [attr.stroke-dasharray]="progress + ' ' + progress"
          [attr.stroke-dashoffset]="progressPercentage"
        />
      </svg>
      <div class="rating-text">{{votePercent()}}<sup>%</sup></div>
    </div>
  </div>

  <div class="card-content">
    <div class="info-with-fav">
      <div class="info">
        <h3>{{movie().name}}</h3>
        <p class="release-date">{{movie().first_air_date}}</p>
      </div>
      <a (click)="onClickFavorite()" class="fav-link">
        @if(isFavorite()){
        <i class="pi pi-heart-fill favorite-icon clicked"></i>
        }@else {
        <i class="pi pi-heart-fill favorite-icon"></i>
        }
      </a>
    </div>
  </div>
</p-card>
