@if (favoriteMovies().length > 0 || favoriteTv().length > 0) {
<section class="watchlist">
  <h1 class="watchlist-title">Watch list</h1>
  @if (favoriteMovies().length > 0) {
  <div class="watchlist-grid">
    <h2 class="watchlist-title">Movies</h2>
    @for (movie of favoriteMovies(); track movie) {
    <div class="custom-card">
      <div class="custom-card-img" [routerLink]="['/Details', movie.id]">
        <img
          [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
          [alt]="movie.title"
        />
      </div>
      <div class="custom-card-content">
        <div class="custom-card-header">
          <h2>{{ movie.title }}</h2>
          <a class="delete-btn" (click)="onClickRemove(movie.id)">
            <i class="pi pi-trash"></i>
          </a>
        </div>
        <div class="custom-card-date">{{ movie.release_date }}</div>
        <div class="custom-card-rating">
          <div class="stars">
            @for (i of [1, 2, 3, 4, 5]; track i) {
            <span
              class="star"
              [style.--fill]="getStarFill(i, movie.vote_average)"
              >★</span
            >
            }
          </div>
          <span class="rating-value"
            >{{ (movie.vote_average / 2).toFixed(2) }}</span
          >
        </div>
        <div class="custom-card-desc">{{ movie.overview }}</div>
      </div>
    </div>
    }
  </div>
  } @if (favoriteTv().length > 0) {
  <div class="watchlist-grid">
    <h2 class="watchlist-title">Tv Shows</h2>
    @for (tv of favoriteTv(); track tv) {
    <div class="custom-card">
      <div class="custom-card-img" [routerLink]="['/TvDetails', tv.id]">
        <img
          [src]="'https://image.tmdb.org/t/p/w500/' + tv.poster_path"
          [alt]="tv.name"
        />
      </div>
      <div class="custom-card-content">
        <div class="custom-card-header">
          <h2>{{ tv.name }}</h2>
          <a class="delete-btn" (click)="onClickRemove(tv.id)">
            <i class="pi pi-trash"></i>
          </a>
        </div>
        <div class="custom-card-date">{{ tv.first_air_date }}</div>
        <div class="custom-card-rating">
          <span class="stars">
            <div class="stars">
              @for (i of [1, 2, 3, 4, 5]; track i) {
              <span
                class="star"
                [style.--fill]="getStarFill(i, tv.vote_average)"
                >★</span
              >
              }
            </div>
          </span>
          <span class="rating-value"
            >{{ (tv.vote_average / 2).toFixed(2) }}</span
          >
        </div>
        <div class="custom-card-desc">{{ tv.overview }}</div>
      </div>
    </div>
    }
  </div>
  }
</section>
} @else {
<section class="watchlist">
  <h1 class="watchlist-title">Watch list</h1>
  <div class="empty-watchlist">
    <div class="empty-content">
      <img src="Group.png" alt="No Movies" class="empty-img" />
      <div class="empty-text">No Movies in watch list</div>
      <a class="back-home-btn" routerLink="/">Back to home</a>
    </div>
  </div>
</section>
}
