<section class="watchlist">
  <h1 class="watchlist-title">Watch list</h1>
  <div class="watchlist-grid">
    @for (movie of favoriteMovies(); track movie) {
    <div class="custom-card">
      <div class="custom-card-img">
        <img
          [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
          [alt]="movie.title"
        />
      </div>
      <div class="custom-card-content">
        <div class="custom-card-header">
          <h2>{{ movie.title }}</h2>
          <button class="delete-btn">
            <i class="pi pi-trash"></i>
          </button>
        </div>
        <div class="custom-card-date">{{ movie.release_date }}</div>
        <div class="custom-card-rating">
          <span class="stars">
            <div class="stars">
              @for (i of [0,1,2,3,4]; track i) {
              <div
                class="star"
                [style.--fill]="getStarFill(i, movie) + '%'"
              ></div>
              }
            </div>
          </span>
          <span class="rating-value"
            >{{ (movie.vote_average / 2).toFixed(2) }}</span
          >
        </div>
        <ng-template #t let-fill="fill">
          <i class="bi-star-fill">
            @if (fill > 0) {
            <i class="bi-star-fill filled" [style.width.%]="fill"></i>
            }
          </i>
        </ng-template>

        <ngb-rating
          [rate]="rating() ?? 0"
          [starTemplate]="t"
          [readonly]="true"
          [max]="5"
          [ariaValueText]="ariaValueText"
        />

        <span class="ms-3"><b>{{ (rating() ?? 0 ).toFixed(2) }}</b></span>
        <div class="custom-card-desc">{{ movie.overview }}</div>
      </div>
    </div>
    }
  </div>
</section>
