<section class="home">
  <div class="home-container">
    <h1>Welcome to our movie app</h1>
    <p>Millions of movies, TV shows and people to discover. Explore now.</p>
    <div class="search-row">
      <input
        pInputText
        type="text"
        class="search-input"
        placeholder="Search and explore..."
        [ngModel]="searchValue()"
        (ngModelChange)="searchValue.set($event)"
      />
      <a
        pButton
        type="button"
        label="Search"
        icon="pi pi-search"
        class="p-button"
        [routerLink]="['/search', searchValue()]"
      ></a>
    </div>
  </div>

  <div class="movies-container">
    <h1 class="title">Now Playing TV Shows</h1>
    <div class="movies">
      @for (movie of movies(); track movie) {
      <app-tv-card [movie]="movie"></app-tv-card>
      }
    </div>
  </div>

  <div class="card flex justify-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first()"
      [rows]="rows()"
      [totalRecords]="numPages()"
    />
  </div>
</section>
