/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.p-menubar-item-content {
  color: black;
  .p-menubar-item-icon {
    color: black;
  }
}

.p-card-body {
  background-color: #f3f1f1;
}
